<footer class="footer" id="footer">
  <p class="footer__motivation">Embrace Challenges, Unlock Potential.</p>
  <ul class="footer__links">
    <li>
      <a href="mailto:nataliia.solotva@gmail.com" target="_blank" class="footer__link">
        <img src="assets/mail.png" alt="Ups, Gmail link is broken" />
      </a>
    </li>
    <li>
      <a href="https://www.linkedin.com/in/nataliia-solotva/" target="_blank" class="footer__link">
        <img src="assets/business.png" alt="Ups, LinkedIn link is broken" />
      </a>
    </li>
    <li>
      <a href="https://github.com/NataliiaSolotva" target="_blank" class="footer__link">
        <img src="assets/github.png" alt="Ups, GitHub link is broken" />
      </a>
    </li>
  </ul>
</footer>
