
.contact-us {
  display: flex;
  justify-content: center;
  padding: 20px;
  align-content: space-around;
  background-color: rgba(56, 163, 165, 0.2);
}

.contact-us__form {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: cent;
  max-width: 700px;
  width: 100%;
  gap: 15px;
}

.contact-us__header {
  background-color: #38A3A5;
  padding: 15px;
  border-radius: 10px;
  text-align: center;
  color: #F4F1DE;
  font-size: 1.5em;
  font-weight: bold;
}

.contact-us__text-field {
  width: 100%;
  padding: 10px;
  border: 2px solid #38A3A5;
  border-radius: 5px;
  font-size: 1em;
  transition: border-color 0.3s;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.contact-us__text-field:focus {
  border-color: #2E4057;
}

.contact-us__message-field {
  height: auto;
  resize: vertical;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.contact-us__button {
  display: flex;
  justify-content: center;
}

.contact-us__submit-button {
  padding: 10px 20px;
  background-color: #38A3A5;
  color: #F4F1DE;
  border: none;
  border-radius: 10px;
  font-size: 1em;
  cursor: pointer;
  transition: background-color 0.3s;
}

.contact-us__submit-button:hover {
  background-color: #2E4057;
}

.contact-us__description {
  margin: 0;
}

.contact-us__success-message {
  color: rgba(244, 241, 222, 1);
  background-color:  rgba(46, 64, 87, 0.5);
  padding: 0.75em;
  border-radius: 8px;
  font-size: 1em;
  text-align: center;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.contact-us__error-message {
  display: block;
  align-items: center;
  color: rgb(199, 20, 20);
  padding: 0px;
  border-radius: 4px;
  margin: 0;
  font-size: 1em;
}
