@import 'primeng/resources/themes/lara-light-teal/theme.css';
@import 'primeng/resources/primeng.min.css';
@import 'primeicons/primeicons.css';

* {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.contact-us {
  display: flex;
  justify-content: center;
  align-content: center;
  padding: 20px;
  align-content: space-around;
  background-color: rgba(56, 163, 165, 0.2);
}

.contact-us__form {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: cent;
  max-width: 700px;
  width: 100%;
  gap: 25px;
}

.contact-us__header {
  background-color: #38A3A5;
  padding: 15px;
  border-radius: 10px;
  text-align: center;
  color: #F4F1DE;
  font-size: 1.5em;
  font-weight: bold;
}

.contact-us__text-field {
  width: 100%;
}

.contact-us__error-message {
  color: rgb(199, 20, 20);
}

.contact-us__button {
  display: flex;
  justify-content: center;
}

