<p-card [style]="{ width: '360px' }" styleClass="rounded-card" class="login">
  <ng-template pTemplate="header">
    <div class="login__header-line"></div>
    <div>
      <p class="login__header-text">Login</p>
    </div>
  </ng-template>
  <form [formGroup]="loginForm" class="login__form">
    <p-floatLabel>
      <input
        class="login__text-field"
        pInputText
        placeholder="kozzavitta@email.com"
        formControlName="email"
        type="text"
        id="email"
        name="email"
        aria-describedby="email-help"
      />
      <label for="email">Email</label>
    </p-floatLabel>
    <p-floatLabel>
      <input
        class="login__text-field"
        pInputText
        formControlName="password"
        type="password"
        id="password"
        name="password"
        aria-describedby="password-help"
      />
      <label for="password">Password</label>
    </p-floatLabel>
    <div class="login__forgot-password-container">
      <a class="login__forgot-password-link">Forgot Password?</a>
    </div>
  </form>
  <ng-template pTemplate="footer">
    <div class="login__button-container w-full">
      <p-button label="Login" severity="primary" class="login__button" styleClass="w-full" />
    </div>
    <div class="login__create-account-container">
      <span>Don't have an account?</span>
      <a class="login__create-account-link">
        Create account
        <i class="pi pi-arrow-circle-right"></i>
      </a>
    </div>
  </ng-template>
</p-card>
