body {
  background-color: #F4F1DE;
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1;
}

h1, h2, h3 {
  margin: 0px;
}

/* header styles */
.header {
  width: 100%;
  background-color: rgba(253, 203, 158, 1);
  padding: 10px 10px;
  display: flex;
  align-items: center;
  box-sizing: border-box;
}

.header__logo-image {
  max-width: 20%;
  max-height: 20%;
  padding: 0 20px;
}

.header__nav {
  flex-grow: 1;
  display: flex;
  justify-content: flex-end;
}

.header__list {
  list-style: none;
  display: flex;
  gap: 30px;
  margin: 0;
  padding: 0;
}

.header__link {
  display: block;
  padding: 10px 20px;
  line-height: 100%;
  text-decoration: none;
  font-size: 1.5em;
  color: #38A3A5;
}

.sign-in-btn {
  color: #38A3A5;
  border: thick double #2E4057;
  border-radius: 5px;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.sign-in-btn:hover {
  background-color: #2E4057;
  color: #F4F1DE;
}

.contact-us-btn {
  border: thick double rgba(253, 203, 158, 1);
  border-radius: 5px;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.contact-us-btn:hover {
  color: #2E4057;
}
/* end of header styles */

/* start of main section styles */
.main_content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.description {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.description__column {
  flex: 1;
  text-align: center;
}

.description__image {
  max-width: 90%;
  height: auto;
  max-height: calc(100vh - 10%);
  padding: 10px 0px;
}

.description__text {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background-color: rgba(253, 203, 158, 0.7);
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  margin: 0;
}

.description__text:hover {
  transform: scale(1.05);
}

.description__name {
  padding: 20px;
  color: #38A3A5;
  font-size: 2.5em;
  font-weight: bold;
  text-align: center;
  border-bottom: 3px solid #2E4057;
  letter-spacing: 1px;
}

.highlight {
  color: #F4F1DE;
  text-shadow:
    -1px -1px 0  #2E4057,
    1px -1px 0  #2E4057,
    -1px 1px 0  #2E4057,
    1px 1px 0  #2E4057;
}

.description__slogan {
  font-size: 1.5em;
  line-height: 1.6;
  color: #2E4057;
  text-align: center;
  max-width: 600px;
  font-style: italic;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
}

.description__regular {
  font-size: 1.0 em;
  color: #2E4057;
  text-align: center;
  padding: 10px;
  transition: background-color 0.3s ease;
}

.description__regular:hover {
  background-color:  #F4F1DE;
  border-radius: 10px;
}

.contact-us {
  display: flex;
  justify-content: center;
  padding: 20px;
  align-content: space-around;
  background-color: rgba(56, 163, 165, 0.2);
}

.contact-us__form {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: cent;
  max-width: 700px;
  width: 100%;
  gap: 15px;
}

.contact-us__header {
  background-color: #38A3A5;
  padding: 15px;
  border-radius: 10px;
  text-align: center;
  color: #F4F1DE;
  font-size: 1.5em;
  font-weight: bold;
}

.contact-us__text-field {
  width: 100%;
  padding: 10px;
  border: 2px solid #38A3A5;
  border-radius: 5px;
  font-size: 1em;
  transition: border-color 0.3s;
}

.contact-us__text-field:focus {
  border-color: #2E4057;
}

.contact-us__message-field {
  height: auto;
  resize: vertical;
}

.contact-us__button {
  display: flex;
  justify-content: center;
}

.contact-us__submit-button {
  padding: 10px 20px;
  background-color: #38A3A5;
  color: #F4F1DE;
  border: none;
  border-radius: 10px;
  font-size: 1em;
  cursor: pointer;
  transition: background-color 0.3s;
}

.contact-us__submit-button:hover {
  background-color: #2E4057;
}

.contact-us__description {
  margin: 0;
}
/* end of main section styles */

/* footer styles */
.footer {
  background-color: rgba(46, 64, 87, 0.5);
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 20px 0;
  flex-shrink: 0;
}

.footer__motivation {
  color: rgba(244, 241, 222, 1);
  letter-spacing: 5px;
  font-style: italic;
  text-align: center;
  margin: 0;
}

.footer__links {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 50px;
  margin: 0;
  padding: 0;
}

.footer__link img {
  width: 40px;
  height: auto;
  transition: transform 0.5s;
}

.footer__link img:hover {
  transform: scale(2);
}
/* end of footer styles  */
