<header class="header">
  <a href="index.html">
    <img src="assets/logo.png" alt="Ups, the image is broken" class="header__logo-image" />
  </a>

  <nav class="header__nav">
    <ul class="header__list">
      <li>
        <a class="header__link sign-in-btn" href="#sign_in">Sign in</a>
      </li>
      <li>
        <a class="header__link contact-us-btn" href="#contact-us">Contact us</a>
      </li>
    </ul>
  </nav>
</header>

<main>
  <section class="main_content">
    <div class="description">
      <div class="description__column">
        <img src="assets/meal1.png" alt="Image 1" class="description__image" />
      </div>
      <div class="description__column description__text">
        <h1 class="description__name"><span class="highlight">K</span>ozza<span class="highlight">V</span>itta</h1>
        <h2 class="description__slogan">Take the First Step Towards a Healthier You!</h2>
      </div>
      <div class="description__column">
        <img src="assets/meal2.png" alt="Image 2" class="description__image" />
      </div>
    </div>
    <div class="description">
      <div class="description__column description__text">
        <h3 class="description__regular">Craft meal here from your ingredients</h3>
      </div>
      <div class="description__column">
        <img src="assets/meal3.png" alt="Image 1" class="description__image" />
      </div>
      <div class="description__column description__text">
        <h3 class="description__regular">Book a session with a nutritionist</h3>
      </div>
      <div class="description__column">
        <img src="assets/meal4.png" alt="Image 2" class="description__image" />
      </div>
      <div class="description__column description__text">
        <h3 class="description__regular">Find all recipes available here</h3>
      </div>
    </div>
  </section>
  <section class="contact-us">
    <form class="contact-us__form" id="contact-us">
      <legend class="contact-us__header">
        <p class="contact-us__description">Contact us if you have questions</p>
      </legend>

      <div class="contact-us__form-field">
        <input
          class="contact-us__text-field"
          type="text"
          id="name"
          name="name"
          placeholder="Enter your name"
          minlength="2"
          maxlength="35"
          required
        />
      </div>

      <div class="contact-us__form-field">
        <input
          class="contact-us__text-field"
          type="email"
          id="email"
          name="email"
          placeholder="Enter your email"
          maxlength="255"
          required
        />
      </div>

      <div class="contact-us__form-field">
        <textarea
          class="contact-us__text-field contact-us__message-field"
          id="message"
          name="message"
          placeholder="Write your message"
          rows="3"
          required
        ></textarea>
      </div>

      <section class="contact-us__button">
        <input type="submit" id="submit" class="contact-us__submit-button" value="Submit form" />
      </section>
    </form>
  </section>
</main>

<footer class="footer" id="footer">
  <p class="footer__motivation">Embrace Challenges, Unlock Potential.</p>
  <ul class="footer__links">
    <li>
      <a href="mailto:nataliia.solotva@gmail.com" target="_blank" class="footer__link">
        <img src="assets/mail.png" alt="Ups, Gmail link is broken" />
      </a>
    </li>
    <li>
      <a href="https://www.linkedin.com/in/nataliia-solotva/" target="_blank" class="footer__link">
        <img src="assets/business.png" alt="Ups, LinkedIn link is broken" />
      </a>
    </li>
    <li>
      <a href="https://github.com/NataliiaSolotva" target="_blank" class="footer__link">
        <img src="assets/github.png" alt="Ups, GitHub link is broken" />
      </a>
    </li>
  </ul>
</footer>
