<section class="main_content">
  <div class="description">
    <div class="description__column">
      <img src="assets/meal1.png" alt="Image is not loaded..." class="description__image" />
    </div>
    <div class="description__column description__text">
      <h1 class="description__name"><span class="highlight">K</span>ozza<span class="highlight">V</span>itta</h1>
      <h2 class="description__slogan">Take the First Step Towards a Healthier You!</h2>
    </div>
    <div class="description__column">
      <img src="assets/meal2.png" alt="Image is not loaded..." class="description__image" />
    </div>
  </div>
  <div class="description">
    <div class="description__column description__text">
      <h3 class="description__regular">
        <a routerLink="/recipes" class="description__link">Craft meal here from your ingredients</a>
      </h3>
    </div>
    <div class="description__column">
      <img src="assets/meal3.png" alt="Image is not loaded..." class="description__image" />
    </div>
    <div class="description__column description__text">
      <h3 class="description__regular">
        <a routerLink="/chat" class="description__link">Book a session with a nutritionist</a>
      </h3>
    </div>
    <div class="description__column">
      <img src="assets/meal4.png" alt="Image is not loaded..." class="description__image" />
    </div>
    <div class="description__column description__text">
      <h3 class="description__regular">
        <a routerLink="/find-recipes" class="description__link">Find all recipes available here</a>
      </h3>
    </div>
  </div>
  <div class="description">
    <div class="description__column description__text">
      <h3 class="description__regular">
        <a routerLink="/my-recipes" class="description__link"> Create own CookBook >>></a>
      </h3>
    </div>
    <div class="description__column">
      <img src="assets/cookbook.png" alt="Image is not loaded..." class="description__image" />
    </div>
    <div class="description__column description__text">
      <h3 class="description__regular">
        <a routerLink="/my-recipes" class="description__link"><<< Create own CookBook </a>
      </h3>
    </div>
  </div>
</section>
