<section class="main_content">
  <div class="description">
    <div class="description__column">
      <img src="assets/meal1.png" alt="Image 1" class="description__image" />
    </div>
    <div class="description__column description__text">
      <h1 class="description__name"><span class="highlight">K</span>ozza<span class="highlight">V</span>itta</h1>
      <h2 class="description__slogan">Take the First Step Towards a Healthier You!</h2>
    </div>
    <div class="description__column">
      <img src="assets/meal2.png" alt="Image 2" class="description__image" />
    </div>
  </div>
  <div class="description">
    <div class="description__column description__text">
      <h3 class="description__regular">Craft meal here from your ingredients</h3>
    </div>
    <div class="description__column">
      <img src="assets/meal3.png" alt="Image 1" class="description__image" />
    </div>
    <div class="description__column description__text">
      <h3 class="description__regular">Book a session with a nutritionist</h3>
    </div>
    <div class="description__column">
      <img src="assets/meal4.png" alt="Image 2" class="description__image" />
    </div>
    <div class="description__column description__text">
      <h3 class="description__regular">Find all recipes available here</h3>
    </div>
  </div>
</section>
