* {
  box-sizing: border-box;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

  &:focus {
    outline: none;
  }
}

body {
  margin: 0;
  background-color: #F4F1DE;

  p {
    margin-top: 0;
    margin-bottom: 0;
  }
}
